<h1>Sign In</h1>
<form class="std-form" action="<%= session_url %>" method="POST">
	<%= auth_token %>
	
	<div class="input">
		<label for="username">Username: </label>
		<input name="user[username]" id="username">
	</div>
	
	<div class="input">
		<label for="password">Password: </label>
		<input type="password" name="user[password]" id="password">
	</div>

	<input type="submit" value="Sign In">
</form>