// Variables and Mixins for SASS

$blue: #3f94dc;
$light-gray: #eeeeee;
$lightest-gray: #f6f6f6;
$dark-white: #fefefe;
$dark-gray: #999999;
$gray: #cccccc;
$white: #ffffff;
$black: #000000;
$modal-zindex: 1;
$modal-overlay: 2;

@mixin debug {
	border: 1px dashed black;
}