// Variables and Mixins for SASS

$blue: #3f94dc;
$purple: #963296;
$light-purple: #B662B6;
$green-success: #82FF82;
$light-gray: #eeeeee;
$lighter-gray: #efefef;
$lightest-gray: #f6f6f6;
$dark-white: #fefefe;
$darker-gray: #222222;
$dark-gray: #999999;
$gray: #cccccc;
$white: #ffffff;
$black: #000000;
$modal-zindex: 1;
$modal-overlay: 2;

@mixin debug {
	border: 1px dashed black;
}

@mixin box-shadow($top, $left, $blur, $color) {
	-webkit-box-shadow: $top $left $blur $color;
  -moz-box-shadow: $top $left $blur $color;
  -ms-box-shadow: $top $left $blur $color;
	-o-box-shadow: $top $left $blur $color;
  box-shadow: $top $left $blur $color;
}

@mixin transition($transition...) {
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-ms-transition: $transition;
	-o-transition: $transition;
	transition: $transition;
}