/*
Core SCSS file
*/

@import "vars";

html, body, header, nav, h1, h2, h3, ul, li, div, footer, form, input, a, select, label, textarea {
	border: 0;
	margin: 0;
  	padding: 0;
	font: inherit;
	vertical-align: baseline;
}

body {
	margin: 0 20px;
	font-family: "Source Sans Pro", Arial, sans-serif;
}

h1 {
	font-size: 42px;
}

h2 {
	font-size: 32px;
}

h3 {
	font-size: 24px;
}

.hidden {
	display: none;
}

.clearfix:after {
	clear: both;
 	content: "";
	display: block;
}

.divider {
	width: 100%;
	margin: 5px 0;
	border-bottom: 1px solid $gray;
}

.modal {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: $black;
	opacity: 0.3;
	z-index: $modal-zindex;
}

.loading-modal {
	position: absolute;
	top: 30%;
	left: 50%;
	z-index: $modal-overlay;

	.loading-text {
		position: relative;
		left: -50%;
		border: 1px solid $light-gray;
		box-shadow: 0 0 5px $gray;
		padding: 20px 50px;
		background-color: white;
		border-radius: 3px;
		font-size: 30px;
	}
}