// Place all the styles related to the shows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.no-search-image {
	width: 154px;
	height: 225px;
	background-color: lightgray;
	display: inline-block;
}

.search-result {
	
}

.basic-info {
	margin-bottom: 20px;
	
	.show-image {
		float: left;
		margin: 15px 15px 0 0;
	}
}

.seasons {

}

.need-to-fetch {
	display: none;
}