// Place all the styles related to the shows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "vars";

.no-search-image {
	width: 154px;
	height: 225px;
	background-color: lightgray;
	display: inline-block;
}

.search-result {
	
}

.basic-info {
	margin-bottom: 20px;
	
	.show-image {
		float: left;
		margin: 15px 15px 0 0;
	}
}

.episodes {
	.season-tabs {
		.season-tab {
			&.current-season {
				font-weight: bold;
			}
		}
	}

	#all-seasons {
		.season-block {
			display: none;
			position: relative;
			@include debug;

			.episodes-list {
				width: 300px;

				.episode {
					display: block;
					padding: 5px 10px;
					margin: 5px 0;
					border: 1px solid black;

					.episode-info {
						display: none;
						position: absolute;
						width: 630px;
						left: 330px;
						top: 35px;

						padding: 5px 10px;
						@include debug;
					}

					&.viewed {
						font-style: italic;
						background-color: salmon;
					}

					&:hover {
						cursor: pointer;
					}
				}
			}
		}
	}

}
.need-to-fetch .episodes {
	display: none;
}