// Place all the styles related to the shows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "vars";

.no-search-image {
	width: 154px;
	height: 225px;
	background-color: lightgray;
	display: inline-block;
}

.basic-info {
	margin-bottom: 20px;
	
	.show-image {
		float: left;
		margin: 15px 15px 0 0;
	}
}

#show-episodes {
	h2 {
		position: relative;

		.compare-with {
			right: 0;
			bottom: 0;
			position: absolute;
			font-size: 12px;
		}

		.followed-users {
			display: none;
			position: absolute;
			right: 0;
			bottom: -55px;

			font-size: 12px;
			padding: 5px 10px;
			min-width: 80px;
			border: 1px solid $gray;
			border-radius: 3px;
			background-color: $white;
			z-index: 1;

			@include box-shadow(0, 0, 2px, $gray);
		}
	}

	.episodes {
		position: relative;
		min-height: 300px;

		.season-tabs {
			margin-bottom: 5px;

			.season-tab {
				margin-right: 5px;
				text-decoration: none;
				color: $black;
				opacity: 0.7;
				border-bottom: 2px solid transparent;
				@include transition(0.2s);

				&:hover {
					opacity: 1;
					border-bottom: 2px solid $purple;
				}

				&.current-season {
					opacity: 1;
					border-bottom: 2px solid $blue;
				}
			}
		}
	}
}

#all-seasons {
	float: left;
	margin-right: 20px;

	.season-block {
		display: none;
		position: relative;

		.episodes-list {
			width: 275px;

			.episode {
				display: block;
				padding: 5px 10px;
				margin: 5px 0;
				background-color: $light-gray;

				.episode-name {
					display: block;
				}

				.episode-button {
					text-decoration: none;
					font-size: 12px;
					font-weight: 400;
					color: white;
					background-color: $blue;
					padding: 2px 8px;
					margin-right: 5px;
					border-radius: 4px;
				}

				.username-button {
					background-color: $purple;
				}

				&.viewed {
					background-color: $green-success;

					.view-button {
						display: none;
					}
				}
			}
		}
	}
}

#highlighted-episode {
	float: right;
	width: 650px;
	margin-top: 36px;
	background-color: $light-gray;

	.episode-info {
		display: none;
		padding: 10px;

		.episode-details {
			.episode-image {
				float: left;
				margin-right: 10px;
			}
		}

		p {
			margin-bottom: 0;
		}
	}
}