<h1>All Shows</h1>

<form action="<%= search_shows_url %>" method="GET">
	<input type="text" placeholder="Find a show..." name="q">
	<input type="submit" value="Search">
</form>

<div class="activities">

	<h2>Recent Activity</h2>

	<% @activities.each do |activity| %>
		<%= render_activity activity %> <br>
	<% end %>
	
</div>