<h1>All Shows</h1>

<form action="<%= search_shows_url %>" method="GET">
	<input type="text" placeholder="Find a show..." name="q">
	<input type="submit" value="Search">
</form>

<% if !!current_user %>
	<div class="activities">

		<h2>Recent Activity</h2>

		<% if @activities.length == 0 %>
			Start following some users!
		<% else %>
			<% @activities.each do |activity| %>
				<%= render_activity activity %> <br>
			<% end %>
		<% end %>
		
	</div>
<% end %>