<h1>Search Results</h1>

<ul>
	<% @results.each do |result| %>
		<li class="search-result">
			<a href="<%= find_shows_url(result.id) %>" ><%= result.original_name %></a>
			<% if result.poster_path || result.backdrop_path %>
				<img src="<%= full_image_url(result) %>">
			<% else %>
				<div class="no-search-image"></div>
			<% end %>
		</li>
	<% end %>
</ul>

<%= @results %>